.dropdown-row {
  outline: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  background-color: rgb(64, 64, 64);
  flex-shrink: 0;
  color: white;
  border-top: 1px solid rgb(54, 54, 54);
  box-sizing: border-box;


}

.dropdown {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  border-width: 1px;
  border-color: rgb(33, 33, 33);
  border-radius: 3px;
}


.dropdown :hover {
  background-color: rgb(126, 126, 126);
  transition: background-color 0.1s ease-in
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-shrink: 0;
  color: white;
  margin-right: 5px;
}


.dropdown-row-selected {
  background-color: rgb(126, 126, 126);
  transition: background-color 0.1s ease-in;
  display: flex;
  align-items: center;
  padding: 12px;
  flex-shrink: 0;
  color: white;
  margin-right: 5px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  border-width: 1px;
  border-color: rgb(33, 33, 33);
  border-radius: 3px;
}

