.filter-container {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.filter-available {
  background-color: rgb(126, 126, 126);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
}

.filter-selected {
  background-color: rgb(126, 126, 126);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
}

.filter-selected button {
  background-color: rgb(44, 44, 44);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  height:50px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 5px;
  font-size: 8px;
  transition: all 0.3s ease;
  gap: 5px;
}

.filter-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.filter-button button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}




.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}