.dropdown-row {

  outline: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  background-color: #202020;
  flex-shrink: 0;
  color: white;
  border-top: 1px solid rgb(54, 54, 54);
  box-sizing: border-box;
  padding-bottom: 10px;
}

.dropdown-item-skeleton {
  width: 100%;
}

.dropdown-row-skeleton {
  z-index: 1000;
  border-color: aliceblue;
  margin-bottom: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: #181818;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  padding-bottom: 30px;

}


.dropdown-row-selected :hover {
  background-color: rgb(126, 126, 126);
  transition: background-color 0.1s ease-in
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-shrink: 0;
  color: white;
  margin-right: 5px;
}

.dropdown-row-selected {
  background-color: rgb(126, 126, 126);
  transition: background-color 0.1s ease-in;
  display: flex;
  align-items: center;
  padding: 12px;
  flex-shrink: 0;
  color: white;
  margin-right: 5px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-style: none;
  border-width: 1px;
  border-color: rgb(33, 33, 33);
  border-radius: 3px;
}